/* pt-sans-regular - latin_cyrillic */
@font-face
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-display: swap
  src: url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot')
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'), url('../fonts/pt-sans-v11-latin_cyrillic-regular.ttf') format('truetype'), url('../fonts/pt-sans-v11-latin_cyrillic-regular.svg#PTSans') format('svg')

/* pt-sans-700 - latin_cyrillic */
@font-face
  font-family: 'PT Sans'
  font-style: normal
  font-weight: bold
  font-display: swap
  src: url('../fonts/pt-sans-v11-latin_cyrillic-700.eot')
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/pt-sans-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'), url('../fonts/pt-sans-v11-latin_cyrillic-700.ttf') format('truetype'), url('../fonts/pt-sans-v11-latin_cyrillic-700.svg#PTSans') format('svg')

body
  min-width: 320px
  margin: 0
  padding: 0
  font-size: 18px
  line-height: 27px
  font-family: 'PT Sans', 'Arial', sans-serif
  color: $grafit
  font-style: normal
  background-color: $white

main
  margin-top: 50px
  margin-bottom: 50px

img
  max-width: 100%
  height: auto

.visually-hidden:not(:focus):not(:active)
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	white-space: nowrap
	clip-path: inset(100%)
	clip: rect (0 0 0 0)
	overflow: hidden

h1
  font-size: 40px
  line-height: 60px
  text-transform: uppercase
h2
  display: inline-block
  padding-bottom: 10px
  font-size: 22px
  font-weight: bold
  color: $grafit
  text-transform: uppercase
  border-bottom: 5px solid $brown

h3
  font-size: 24px
  font-weight: bold
  color: $brown
  text-transform: uppercase
    
.button
  position: relative
  display: inline-block
  padding: 5px 15px
  padding-left: 30px
  font-size: 14px
  color: $grafit
  text-transform: uppercase
  text-decoration: none
  border: 1px solid $grafit
  &:hover, &:focus
    color: $brown
    border-color: $brown
    &::before
      background-image: url('../img/left-doppelt.svg')
  &::before
    content: ""
    position: absolute
    left: 10px
    top: 50%
    transform: translateY(-50%)
    width: 15px
    height: 15px
    background-image: url('../img/left.svg')
    background-repeat: no-repeat
    background-position: center


.slider
  position: relative
  margin: 0 auto
  &__list
    position: relative
    width: 100%
    min-height: 300px
    margin: 0
    padding: 0
    list-style: none
  &__item
    display: none
    top: 0
    left: 0
    padding: 20px
    box-shadow: 0px 0px 15px 0px rgba(97, 97, 97, 0.3)
    border: 3px solid $grey
    border-radius: 10px
    transition: opacity 1s ease-in
    z-index: 2
    p
      font-size: 14px
    &-title
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      span
        font-weight: bold
        text-transform: uppercase
      time
        font-weight: bold
        font-size: 14px
        text-align: right
  &__item-image
    margin-right: auto
    margin-left: auto
    margin-top: -70px
    width: 100px
    height: 100px
    overflow: hidden
    border: 3px solid $grey
    border-radius: 50%
    img
      max-width: none
      height: 100%
  &__toggles
    width: 100%
    text-align: center
    z-index: 3
  &__toggle
    +button-reset()
    width: 16px
    height: 16px
    margin-right: 15px
    border-radius: 50%
    border: 2px solid $dark-grey
    cursor: pointer
    &:hover, &:active, &:focus
      background: radial-gradient(circle closest-side, $dark-grey 4px, $white 5px)
      outline: none
    &:active
      background: $brown
      outline: none
    &--active
      border-color: $brown
      background: radial-gradient(circle closest-side, $brown 4px, $white 5px)
      &:hover, &:active, &:focus
        outline: auto
        background: radial-gradient(circle closest-side, $light-brown 4px, $white 5px)
      &:active
        background: $dark-grey
        outline: none

@media (min-width: $tablet-width)
  .slider
    &__list
      min-height: 250px

@media (min-width: $desktop-width)
  .slider
    &__list
      min-height: 200px
      