.about
  &__wrapper
    display: flex
    flex-direction: column
    justify-content: center
  &__photo
    text-align: center
    & img
      height: 100%
  &__name-block
    padding: 20px 30px
    background-color: $grey
  &__name
    margin: 0
    font-size: 40px
    font-weight: bold
    line-height: 40px
    text-transform: uppercase
  &__place
    margin: 0
  &__description
    padding: 20px 30px
    background-color: $brown
    color: #ffffff
    & p
      margin: 0
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0

@media (min-width: $tablet-width)
  .about
    &__wrapper
      flex-direction: row
      flex-wrap: wrap
    &__name-block
      flex-grow: 1
    &__description
      flex-grow: 1

@media (min-width: $desktop-width)
  .about
    &__wrapper
      display: block
      position: relative
      width: 1024px
      min-height: 400px
      margin: 0 auto
    &__photo
      position: absolute
      top: 0
      left: 0
      width: 512px
      height: 400px
    &__name-block
      position: absolute
      top: 0
      right: 0
      width: 512px
      height: 200px
      padding-top: 50px
      box-sizing: border-box
    &__description
      position: absolute
      bottom: 0
      right: 0
      width: 512px
      height: 200px
      box-sizing: border-box